<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title> Register User</title>
        <style>
            .center {
                width : 50%;
                margin: auto;
                padding: 10px;
                border: dotted red 2px;
                background: lightgray;
            }
        </style>
    </head>
    <body>
        <div class = "center">
        <h3> Highest GPA </h3>
        <form name="high" method = "get" 
            action = "/highGPA">
            <p> Student ID: <input type = "number" name = "studId"> </p>
            <p> Student Name: <input type = "text" name = "name"> </p>
            <p> Program: <input type = "text" name = "program"> </p>
            <p> GPA: <input type = "number" name = "highGPA"> </p>
        </form>
    </div>
    </body>
</html>
</html>