<!DOCTYPE html>
<html lang = "en">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Home</title>
    <header>    
    <h2>Declaration</h2>
    </header>
<body>
    <p>I acknowledge the College's academic integrity policy - and my own integrity - remain in effect whether my work is 
        done remotely or onsite. Any test or assignment is an act of trust between me and my instructor, and especially with 
        my classmates... even when no one is watching. I declare I will not break that trust
    </p>
    <p>Name: Anatolii Hryhorzhevskyi</p>
    <p>Student Number: 150314201</p>

    <ul>
        <li><a href="/cpa">Click to visit CPA students</a></li>
        <li><a href="/highGPA">Click to see who has the highest GPA</a></li>
    </ul>
</body>



</html>